<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="../css/login.css">

</head>

<body>
    <!--encabezado -->
    <nav class="navegacion">
        <a href="../../index.php">
            <img src="../../imagenes/logo.png" width="50px">
        </a>
    </nav>


    <section class="login-cuerpo">
        <div class="contenido borde">
            <h1 class="titulo margenes centrar">INICIAR SECION</h1>
            <nav>
                <form action="../login.php" method="post" class="">

                    <input type="email" class="input1" name="correo" placeholder="ingresa Gmail"> <br>
                    <input type="password" class="input1 margenes" name="password" placeholder="ingresa password"> <br>
                    <input type="checkbox" name="recuerdame"> <br>
                    <div class="margenes centrar">
                        <input type="submit" class="boton" value="INGRESAR">
                    </div>
                </form>
            </nav>
            <p class="centrar">
                ¿no tienes una cuenta? <br>
                <a href='signup.html' class="color_especial">registrate</a> <br>
                <a href="forgot_password.html" class="color_especial">olvido su password?</a>
            </p>

        </div>
    </section>


</body>

</html>