<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>

    <link rel="stylesheet" href="../css/login.css">
</head>

<body>

    <!--encabezado -->
    <nav class="navegacion">
        <a href="../../index.php">
            <img src="../../imagenes/logo.png" width="50px">
        </a>
    </nav>

    <h1></h1>

    <!--PEDIMOS LOS DATOS-->
    <!-- <nav>
        <form action="../signup.php" method="POST"><pre>
            
        </pre></form>
    </nav>-->






    <section class="login-cuerpo">
        <div class="contenido borde">
            <h1 class="titulo margenes centrar">REGISTRATE</h1>
            <nav>
                <form action="../signup.php" method="post" class="">

                    <input type="text" class="input1 margenes" name="nombre" placeholder="Ingrese Nombre"> <br>
                    <input type="text" class="input1 margenes" name="apellido" placeholder="Ingrese Apeliido"> <br>
                    <input type="email" class="input1 margenes" name="correo" placeholder="Gmail"> <br>
                    <input type="password" class="input1 margenes" name="password" placeholder="crear password"> <br>
                    <input type="password" class="input1 margenes" name="confir_password" placeholder="confirme password"> <br>
                    <div class="margenes centrar">
                        <input type="submit" class="boton" value="Registrate">
                    </div>

                </form>
            </nav>

            <p class="centrar">
                si ya tienes una cuenta <br>
                <a href='login.html' class="color_especial">inicia Sesion</a>
            </p>

        </div>
    </section>





</body>

</html>