.cuerpoPerfil {
    background: #080808;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A5907E, #f7dad95b);
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #A5907E, #f7dad95b);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    margin: 0px;
    height: 0px;
    padding: 250px 10%;
}

.contImagen {
    background: #504848;
    margin: -180px 1px;
    padding: 150px 10%;
}

.botPosicion {
    margin: 180px 0px;
}

.centro {
    /*height: 100vh;*/
    /*display: grid;*/
    padding: 2px 8%;
    margin: 0px 100px;
}

.mostrarPerfil {
    background: #504848;
    margin: -180px 1px;
    padding: 150px 10%;
}

.containerP {
    border: 2px solid rgb(177, 98, 98);
    display: flex;
    padding: 12px;
}

.containerP .content {
    background: rgb(11, 14, 20);
    border: 2px solid #777;
    flex: 1;
}

.containerP .side {
    background: rgb(11, 14, 20);
    margin-left: 10px;
}

.containerP .side div {
    background: #080808;
    border: 2px solid rgb(20, 19, 19);
    height: 118px;
    width: 350px;
    color: white;
}

.containerP .side div:not(:first-child) {
    margin-top: 10px;
}

.perfil-cabecera {
    background: rgba(68, 68, 68, 0.596);
    margin-top: 15px;
    padding: 50px 10%;
    border: none;
    border-radius: 15px;
}


/*imagen redonda*/

.circular--square {
    border-radius: 60%;
}

.circular--square {
    border-top-left-radius: 40% 50%;
    border-top-right-radius: 40% 50%;
    border-bottom-right-radius: 40% 50%;
    border-bottom-left-radius: 40% 50%;
}

.marge {
    margin: 10px 2px;
    padding: 4px;
}