* {
    margin: 0px;
    padding: 0px;
}

.navegacion_registro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background: #786452;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A5907E, #f7dad95b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A5907E, #f7dad95b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70px;
}

.navegacion_registro .link_img {
    /* background-color: antiquewhite; */
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.navegacion_registro .link_img #img {
    height: 40px;
    border: 1px solid #550C18;
    border-radius: 10px;
}

.navegacion_registro a.link {
    text-decoration: none;
    color: white;
    margin: 5px 8px;
    padding: 10px;
    display: inline-block;
    background-color: #550C18;
}

.portada {
    position: relative;
    background-image: url(../public/img/diario.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* calses genreales */

.contenedor {
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    word-spacing: 1px;
    font-size: 3rem;
    color: #fcebeb;
    margin-top: 20px;
    margin-bottom: 5px;
}

.frase {
    font-family: monospace;
    font-size: 2rem;
    word-spacing: 0px;
    color: black;
    font-weight: lighter;
}

.content-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.text-color {
    color: #550C18;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #A5907E;
    border: none;
    border-radius: 8px;
    padding: 14px 30px;
    font-size: 1.1rem;
    font-weight: lighter;
}

.btn:hover {
    background: #550C18;
    color: white;
}

.m-l {
    margin-left: 40px;
}

.m-r {
    margin-right: 40px
}