<div class="modal fade" id="editarPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT PERFIL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="#" method="post" class="">
                    <label for="exampleFormControlInput1" class="form-label ">
                        SUBIR UNA FOTO
                    </label>
                    <div class="mb-3 col-md-12 margenes">
                        <input class="form-control img_perfil " id="txtImg" accept="image" type="file">
                    </div>

                    <label for="exampleFormControlInput1" class="form-label ">
                        NOMBRE
                    </label>
                    <input type="text" class="input1 margenes txtPerNombre" value="" name="nombre" placeholder="...">
                    <br>

                    <label for="exampleFormControlInput1" class="form-label">
                        APELLIDO
                    </label>
                    <input type="text" class="input1 margenes txtPerApellido" name="apellido" placeholder="...">
                    <br>

                    <label for="exampleFormControlInput1" class="form-label ">
                        FECHA DE NACIMIENTO
                    </label>
                    <input type="date" class="input1 margenes txtPerFecha " name="correo" placeholder="fecha nacimiento">
                    <br>

                    <div class="margenes centrar ">
                        <input type="submit" class="boton" onClick="EditarPerfil()" value="guardar cambios">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>