<!--verificar el correo del usuario-->
<div class="  modal fade" id="verificarCorreo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog">
        <div class=" contPreguntas borde modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">recuperar password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="#" method="post" class="">


                    <label for="exampleFormControlInput1" class="form-label">
                        ¿introdusca su correo?
                    </label>
                    <input type="email" class="input1 margenes txtVerificarCorreo" value="" name="email" placeholder="Ingresa tu Email">
                    <br>

                    <!-- manada a modificar el password-->
                    <div class="margenes centrar">
                        <button type="button" class="bton2 " data-bs-toggle="modal" onclick="verficaCorreo();">
                            siguiente
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>