<!--verificar el correo del usuario-->
<div class="  modal fade" id="verificarCorreo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog">
        <div class=" contPreguntas borde modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">recuperar password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="#" method="post" class="">


                    <label for="exampleFormControlInput1" class="form-label">
                        ¿introdusca su correo?
                    </label>
                    <input type="email" class="input1 margenes txtVerificarCorreo" value="" name="email" placeholder="Ingresa tu Email">
                    <br>

                    <!-- manada a modificar el password-->
                    <div class="margenes centrar">
                        <button type="button" class="bton2 " data-bs-toggle="modal" onClick="verficaCorreo();" data-bs-target="#preguntaPassword">
                            siguiente
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--hacer las preguntas-->
<div class="  modal fade" id="preguntaPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog">
        <div class=" contPreguntas borde modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">responde las siguientes preguntas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="#" method="post" class="">
                    <label for="exampleFormControlInput1" class="form-label">
                        ¿cual es tu color favorito?
                    </label>
                    <input type="text" class="input1 margenes rcpColor" value="" name="nombre" placeholder="color favorito">
                    <br>

                    <label for="exampleFormControlInput1" class="form-label">
                        ¿nombre de tus mascota?
                    </label>
                    <input type="text" class="input1 margenes rcpMascota" name="apellido" placeholder="nombre de tu mascota"> <br>

                    <!--modifica el password-->
                    <div class="margenes centrar ">
                        <input type="submit" class="boton" onClick="" value="siguiente">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>